

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div [@aniHome]="state" class="Home">

    <section id='parent_div_1'>
        <div class="Name">
            <h1>Julian <span></span> </h1>
            <h1>Hernandez. <span></span> </h1>
        </div>
    
        <div id="Social">
    
        </div>
    </section>
      
    <section id='parent_div_2'>
        <div class="Info">
            <h2 >Mechatronic Engineer
                Universidad Militar Nueva Granada.</h2>
            <p>
                Developer of multidisciplinary applications related to
                mechatronic engineering, I have a focus on artificial intelligence and predictive maintenance
                of industrial machinery.
            </p>
            <p>
                I have leadership skills, as well as a broad engineering lexicon,
                that allows me to communicate successfully with other professionals.
            </p>
        </div>
    </section>

</div>



  


