

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id='parent_div_1'>
    <div class="Name">
        <h1>Julian Hernandez.</h1>
    </div>

    <div id="Social">

    </div>
</div>
  
<div id='parent_div_2'>
    <div class="Info">
        <h2>Ingeniero Mecatrónico 
            Universidad Militar Nueva Granada.</h2>
        <p>
            Desarrollador de aplicaciones multidisciplinarias afines a la
            ingenieria mecatronica, cuento con enfoque en inteligenicia artificial y mantenimiento predictivo
            de maquinaria industrial.
        </p>
        <p>
            Cuento con habilidades de liderazgo, asi como un amplio léxico ingenieril, 
            que me permite comunicarme acertivamente con otros profesionales.
        </p>
    </div>
</div>
  


